.waves-component {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  --x: -0.5rem;
  --y: 50%;
}

.waves-component svg {
  display: block;
  width: 100%;
  height: 100%;
}

.waves-component .pointer-dot {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: translate3d(calc(var(--x) - 50%), calc(var(--y) - 50%), 0);
  will-change: transform;
}
